* {
    -webkit-user-select: none;
    /* Chrome, Safari, Opera */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently */
}

body {
    
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: auto;
    opacity: 0;
    animation: fadeOpacity 3s cubic-bezier(0.42, 0, 0, 0.7) forwards;
    animation-delay: 0.6s;
}

@keyframes fadeOpacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}